/*
FILE NAME: style.css
WRITTEN BY: Table 20
DATE: feb 2016
PURPOSE: WHACK Project
*/

body{

  background: url(../img/texture.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.button {
  text-align: center;
  text-decoration: none;
  font-size:40px;
  color: #ffffff;
  font-family: Arial;
  background: #00BFFF;
  padding: 10px 20px 10px 20px;
  height: 768px;



  



}

.button:hover {
    background: #4169e1;
 background-image: -webkit-linear-gradient(top, #4169e1, #00008B);
 background-image: -moz-linear-gradient(top, #4169e1, #00008B);
 background-image: -ms-linear-gradient(top, #4169e1, #00008B);
 background-image: -o-linear-gradient(top, #4169e1, #00008B);
 background-image: linear-gradient(to bottom, #4169e1, #00008B);
 text-decoration: none;
}

.button:active{
      background: #008000;
      background-image: -webkit-linear-gradient(top, #008000, #008000);
      background-image: -moz-linear-gradient(top, #008000, #008000);
      background-image: -ms-linear-gradient(top, #008000, #008000);
      background-image: -o-linear-gradient(top, #008000, #008000);
      background-image: linear-gradient(to bottom, #008000, #008000);
      text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

td, tr {
    padding: 5px;
}
