/*
FILE NAME: voting.css
WRITTEN BY: Table 20
DATE: feb 2016
PURPOSE: WHACK Project
*/

button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #d3dbe0;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 50%
}
peet {
    float: left
}

button:hover {
  background: #cfcfcf;
  text-decoration: none;
}

button:click{

}
