{% extends "layout.html" %}

{% set title = "Homepage" %}

{% block body %}
	<!--#include virtual="index.part" -->
    <!--    <nav>
	    <img src="imagelinkhere.jpg" alt="logo" id="navfigure">

	    <ul>
	        <li id="liContact" class="navitem"><a href="title1.html">Contact Us</a>
	        <li id="liMenu" class="navitem"><a href="documentation.html">Documentation</a>
	        <li class="navitem"><a href="about.html">About</a>
	        <li class="navitem"><a href="home.html">Home</a>
	</nav>
    -->
<div id="slideshowDiv">

	<figure id="slideshow">
		<img style="width: 100%" src="" alt="slideshow images">
	</figure>

</div>

<div id="app">
	<!--Where we are going to be using flask framework to utilize the app-->
	<p>
		{{ hello }}
	</p>
</div>

<div>
	<form action="/votevotevote" method="post">
		<input type="submit" name="votingbutton" formmethod="post" formaction="/votevotevote" value="{{ left_object }}">
	</form>
	
	<form action="/votevotevote" method="post">

		<input type="submit" name="votingbutton" formmethod="post" formaction ="/votevotevote" value="{{ right_object }}">
	</form>
	
</div>

<div id="submit">
	<div>Submit an Idea</div>
	
</div>

<script src="{{ url_for('static',filename = 'js/index.js') }}"></script>
	
{% endblock %}