<!DOCTYPE html>
<html>
<head>
	<title>Main page of Table 20 project yeet</title>
	<script src="jquery-1.11.3.min.js"></script>
</head>
<body>
	<!--#include virtual="index.part" -->
    <!--    <nav>
	    <img src="imagelinkhere.jpg" alt="logo" id="navfigure">

	    <ul>
	        <li id="liContact" class="navitem"><a href="title1.html">Contact Us</a>
	        <li id="liMenu" class="navitem"><a href="documentation.html">Documentation</a>
	        <li class="navitem"><a href="about.html">About</a>
	        <li class="navitem"><a href="home.html">Home</a>
	</nav>
    -->
	<div id="slideshowDiv">

		<figure id="slideshow">
			<img style="width: 100%" src="" alt="slideshow images">
		</figure>

	</div>

	<div id="app">
		<!--Where we are going to be using flask framework to utilize the app-->
		<p>
			{{ hello }}
		</p>
	</div>

	<script src='../static/index.js'></script>
</body>
</html>
