{% extends "layout.html" %}

{% block body %}
<body>
    <div class="row">
        <div class="col-sm-6">
            
            <div class="button" id="yeet">
            Lorem 
            </div>        
	    </div>
	        
        <div class="col-sm-6">
            <div class="button" id="peet">
            Lorem 
            </div>        
        </div>
	     
    </div>  
</body>    
{% endblock %}

{% block scripts %}
<script type="text/javascript">

var ideas = {{ ideas|safe }}

</script>
{% endblock %}
